.list {
    width: 100%;
    height: 100%;
    padding-top: 80px;

    .list-table {
        background: linear-gradient(to top, $gray-700 0%,#{fade-out($gray-700, .1)} 50%,#{fade-out($gray-700, .2)} 75%);
    }
}